<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueInit</title>
    <!-- cdn of vue 3.0.2 -->
    <script src="https://unpkg.com/vue@3.0.2"></script>
</head>

<body>
    <h1>Hello World</h1>
    <div id="app">
        <div v-if="showBooks">
            <p>{{title}}/-{{name}}/-{{age}}</p>
        </div>
        <button v-on:click="toggleBooks">
            <span v-if="showBooks">Hide Book</span>
            <!-- <span v-if="showBooks ==false ">Show Book</span > this is by using the if -->
                <span v-else="showBooks">Show Books</span>
        </button>
        <div>
        <span v-show="showBooks">Currentlly showing Books</span>
        </div>




    <script src="app.js"></script>
</body>

</html>